In [1]:
import pandas as pd
from pathlib import Path

In [3]:
ruta_base = Path.cwd()
ruta_base = ruta_base.parents[1]

En este archivo lo que hice fue combinar en un excel todas las fechas presentes en las tablas clientes, y transacciones, se eliminaron duplicados y se tiene en cuenta valores faltantes con el id -1, y demas informacion que pueda ser de ayuda para futuras consultas para crear la dimension Tiempo

In [12]:
ruta_tiempo = ruta_base / 'Ejercicio2' / 'data' / 'raw' / 'Tiempo.xlsx'
tiempo_raw = pd.read_excel(ruta_tiempo)

In [17]:
import locale

locale.setlocale(locale.LC_TIME, 'Spanish_Spain.1252')

'Spanish_Spain.1252'

In [18]:
tiempo = tiempo_raw.copy()

tiempo['anio'] = tiempo['fecha'].dt.year
tiempo['mes'] = tiempo['fecha'].dt.month
tiempo['dia'] = tiempo['fecha'].dt.day
tiempo['nombre_mes'] = tiempo['fecha'].dt.strftime('%B')  
tiempo['dia_semana'] = tiempo['fecha'].dt.strftime('%A')      
tiempo['anio_mes'] = tiempo['fecha'].dt.strftime('%Y-%m')      
tiempo['semana_anio'] = tiempo['fecha'].dt.isocalendar().week

In [19]:
tiempo['anio'] = tiempo['anio'].astype('Int64')
tiempo['mes'] = tiempo['mes'].astype('Int64')
tiempo['dia'] = tiempo['dia'].astype('Int64')
tiempo['semana_anio'] = tiempo['semana_anio'].astype('Int64')

In [20]:
tiempo.head()

       fecha  id  anio   mes   dia nombre_mes dia_semana anio_mes  semana_anio
0        NaT  -1  <NA>  <NA>  <NA>        NaN        NaN      NaN         <NA>
1 2004-04-05   1  2004     4     5      abril      lunes  2004-04           15
2 2004-05-10   2  2004     5    10       mayo      lunes  2004-05           20
3 2004-06-15   3  2004     6    15      junio     martes  2004-06           25
4 2004-07-15   4  2004     7    15      julio     jueves  2004-07           29

In [23]:
carpeta_destino = ruta_base / 'Ejercicio2' / 'data' / 'processed'

tiempo.to_csv(carpeta_destino / 'tiempo.csv', index=False)